<section>
    <tui-avatar
	        src="/20H055.jpeg"
	        size="xxl"
	    />
  <header tuiHeader>
      <hgroup tuiTitle>
          <h5>Thanush A A</h5>
          <p tuiCaption>AI Enthusiast</p>
          <p tuiSubtitle>B.Tech in Computer Science and Business Systems</p>
      </hgroup>
  </header>
  <br>
  <p tuiTitle class="description">
    Hello everyone! I am Thanush. I completed my B.Tech in Computer Science and Business Systems at Thiagarajar College of Engineering, Madurai at 2024. I worked in Ford Business Solutions as an Intern from January 2024 to July 2024 and as a Junior Engineer from July 2024 to July 2025. Currently, I am an upcoming PhD candidate at IIT Kanpur. Thank you for showing interest and visiting my page!
  </p>

</section>
<br>
<br>
<header tuiHeader="h3">
	    <hgroup tuiTitle>
	        <h1>Connect with me on social media</h1>
	        <p class="handles" tuiSubtitle>
                Github: <a tuiLink href="https://github.com/aathanush"><tui-icon icon="@tui.fa.brands.github" /> </a>
                <br>
                Linkedin:  <a tuiLink href="https://www.linkedin.com/in/thanushaa/"> <tui-icon icon="@tui.fa.brands.linkedin" /></a>
                <br>
                My mail ID: <a tuiLink href="mailto:aathanush@gmail.com"> <tui-icon icon="@tui.fa.solid.envelope" /> aathanush&#64;gmail.com</a> <br>
                Download my CV: <a tuiLink href="https://drive.google.com/file/d/1NugTL7M0HtTY7qCxMpzaDqEBQEjrDS-u/view?usp=sharing"><tui-icon icon="@tui.fa.solid.file" /></a>
            </p>
	    </hgroup>
</header>
    

