<header tuiHeader="h3">
	    <hgroup tuiTitle>
	        <h1>Courses</h1>
	        <p class="handles" tuiSubtitle> 
            Here is the list of courses that I have completed.
            </p>
	    </hgroup>
</header>


<table
    tuiTable
    class="table"
    [columns]="columns"
>
    <thead>
        <tr tuiThGroup>
            <th tuiTh [resizable]="true"> Name </th>
            <th tuiTh [resizable]="true"> Url </th>
            <th tuiTh [resizable]="true"> Authority </th>
            <th tuiTh [resizable]="true"> Completion Date </th>
            <th tuiTh [resizable]="true"> License </th>
        </tr>
    </thead>
    <tbody tuiTbody [data]="courses">
        <tr *ngFor="let item of courses" tuiTr>
            <td *tuiCell="'Name'" tuiTd>
                {{ item.Name }}
            </td>
            <td *tuiCell="'Url'" tuiTd>
                {{ item.Url }}
            </td>
            <td *tuiCell="'Authority'" tuiTd>
                {{ item.Authority }}
            </td>
            <td *tuiCell="'Completiom'" tuiTd>
                {{ item.Completion }}
            </td>
            <td *tuiCell="'License'" tuiTd>
                {{ item.License }}
            </td>
        </tr>
    </tbody>
</table>
