<header tuiHeader="h3">
	    <hgroup tuiTitle>
	        <h1>Qualification Details</h1>	       
	    </hgroup>
</header>
<br><br>

<tui-accordion tuiConnected class="accordion">
    <ng-container *ngFor="let item of qualifications ; let index = index">
        <tui-accordion-item>
            {{qualifications[index].degree}}, {{qualifications[index].institution}} <br> {{qualifications[index].location}} - <b>{{qualifications[index].completionYear}}</b>
            <ng-template tuiAccordionItemContent>
                <ul>
                    <li>
                        Grading System: {{item.gradingSystem}}
                    </li>
                    <li>
                       Marks: {{item.marks}}
                    </li>
                </ul>
	        </ng-template>
        </tui-accordion-item>
    </ng-container>
</tui-accordion>
