<header tuiHeader="h3">
	    <hgroup tuiTitle>
	        <h1 tuiTitle>Conferences</h1>

            <ul>
                <ng-container  *ngFor="let data of conferences">
                    <li tuiSubtitle>
                       <b>{{data.title}}</b>; {{data.author}}; {{data.booktitle}}; {{data.publisher}}; {{data.month}} {{data.year}}; DOI: {{data.doi}}; URL: <a tuiLink href="{{data.url}}" >{{data.url}}</a>
                    </li>
                </ng-container>
            </ul>
            

	        <p class="handles" tuiSubtitle>
            </p>
	    </hgroup>
</header>


<header tuiHeader="h3">
	    <hgroup tuiTitle>
	        <h1 tuiTitle>Journals</h1>

            <p tuiSubtitle> Not yet....</p>
            <ul>
                <ng-container  *ngFor="let data of journals">
                    <!-- <li tuiSubtitle>
                       <b>{{data?.title}}</b>; {{data?.author}}; {{data.booktitle}}; {{data.publisher}}; {{data.month}} {{data.year}}; DOI: {{data.doi}}; URL: <a tuiLink href="{{data.url}}" >{{data.url}}</a>
                    </li> -->
                </ng-container>
            </ul>
            

	        <p class="handles" tuiSubtitle>
            </p>
	    </hgroup>
</header>